@font-face {
    font-family: "Aire Exterior";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/aire-exterior-regular.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-regular.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-bold.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-medium.woff2") format("woff2");
    font-display: swap
  }
  
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/roboto-light.woff2") format("woff2");
    font-display: swap
  }
  