$font-aire: "Aire Exterior", "Arial", sans-serif;
$font-roboto: "Roboto", "Arial", sans-serif;

$color-background: #141c24;
$color-blue: #00c5ff;
$color-white: #ffffff;
$color-light-blue:#57d6ff;
$color-black: #171717;
$color-gray:  #ababab;
$color-dark-gray: #1f2631;

$trans: 0.225s cubic-bezier(.215, .61, .355, 1);

$md: 768px;
$lg: 1280px;
$sm-max: 767px;
$md-max: 1149px;
$lg-max: 1280px;
$padding--sm: 15px;
$padding--md: 50px;
$padding--lg: 110px;
