@import "../../global-style/variables.scss";
@import "../../global-style/mixins.scss";

.footer {
	background-color: $color-black;
	padding-top: 78px;
	padding-bottom: 50px;
}

.footer__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	max-width: 1280px;
	padding-left: 25px;
	padding-right: 25px;

	@include viewport--md {
		flex-direction: row;
		justify-content: space-between;
	}
}

.footer__socialList {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	margin-bottom: 7px;

	@include viewport--md {
		margin-bottom: 0;
	}
}

.footer__socialLink {
	padding: 3px;
	color: $color-gray;
	@include trans;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		color: $color-blue;
		transition: 0.2s;
	}

	&:active {
		color: $color-light-blue;
	}
}

.footer__socialItem:not(:last-child) {
	margin-right: 5px;
}

.footer__list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
	margin-bottom: 47px;

	@include viewport--md {
		flex-direction: row;
		margin-bottom: 0;
		padding-left: 7px;
		padding-right: 7px;
		align-items: flex-start;
	}
}

.footer__item {
	padding: 5px;
}

.footer__item:not(:last-child) {
	margin-bottom: 5px;

	@include viewport--md {
		margin-right: 10px;
		margin-bottom: 0;
	}
}

.footer__link {
	font-weight: 200;
	font-size: 12px;
	line-height: 14px;
	color: $color-white;
	text-decoration: none;

	&:hover {
		color: $color-blue;
		@include trans;
	}

	&:active {
		color: $color-light-blue;
	}
}

.footer__logoLink {
	color: $color-gray;
	@include trans;

	&:hover {
		color: $color-blue;
	}

	&:active {
		color: $color-light-blue;
	}
}
